* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
}

#timer {
    justify-self: center;
    align-self: center;
    font-size: 3em;
}